.animated-p {
	position: relative;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;

	span {
		transition: transform 0.3s ease;
		left: 0;
		right: 0;
		&:first-child {
			position: relative;
			top: 0;
		}
		&:last-child {
			position: absolute;
			top: 100%;
		}
	}

	&:hover span {
		transform: translateY(-100%);
	}
}
