$header_sizes: (
	'sm': 81px,
	'md': 123px,
	'lg': 103px,
	'xl': 100px,
	'xxl': 131px,
);

$px_sizes: (
	'sm': 20px,
	'md': 40px,
	'lg': 30px,
	'xl': 40px,
	'xxl': 80px,
);

$main_img_height: (
	'sm': 313px,
	'md': 487px,
	'lg': 411px,
	'xl': 506px,
	'xxl': 600px,
);

$logo_sizes: (
	'sm': 51px,
	'md': 110px,
	'lg': 88px,
	'xl': 114px,
	'xxl': 137px,
);

$description_sizes: (
	'sm': 13px,
	'md': 26px,
	'lg': 19px,
	'xl': 26px,
	'xxl': 31px,
);

$about_header_fsizes: (
	'sm': 16px,
	'md': 19px,
	'lg': 19px,
	'xl': 26px,
	'xxl': 34px,
);

$about_description_fsizes: (
	'sm': 11px,
	'md': 12px,
	'lg': 12px,
	'xl': 16px,
	'xxl': 20px,
);

$preview_sizes: (
	'sm': 131px,
	'md': 133px,
	'lg': 133px,
	'xl': 186px,
	'xxl': 241px,
);

$preview_description_fsizes: (
	'sm': 10px,
	'md': 10px,
	'lg': 10px,
	'xl': 14px,
	'xxl': 18px,
);

$preview_duration_fsizes: (
	'sm': 13px,
	'md': 13px,
	'lg': 13px,
	'xl': 14px,
	'xxl': 18px,
);

$about_img_circle_sizes: (
	'sm': 87px,
	'md': 81px,
	'lg': 148px,
	'xl': 200px,
	'xxl': 260px,
);

$input_fsizes: (
	'sm': 11px,
	'md': 14px,
	'lg': 14px,
	'xl': 16px,
	'xxl': 17px,
);

$dialog_header_fsizes: (
	'sm': 20px,
	'md': 28px,
	'lg': 28px,
	'xl': 40px,
	'xxl': 52px,
);
